[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/vim-scripts/file-line.git
